
<section id="meetup-detail" class="bg-dark master-section">

    <section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid add-bottom-main">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12">
                    <h2 class="main-heading"><span>Meetup</span></h2>
                    <h3 class="promo-text-alt darken">
                        <span>NOV 19th 5:30p - 7:30p ET</span></h3>
                </article>
                <article class="span12 hero-unit">
                    
                    <h2>{&quot;Location&quot;: &quot;Address&quot;}</h2><br/>
                         <div class="shoutout">
                            <img src="images/floor4.png"><br/>
                            <a href="http://4thfloor.chattlibrary.org/" target="_blank">4th Floor</a>&nbsp;Chattanooga Public Library<br/>
                            1001 Broad Street<br/>
                            Chattanooga, TN 37402<br/><br/>
                            -Please use 10th Street Entrance to Library<br/>
                           
                        </div>
<br/><br/>
                    <h2>{&quot;Presenter&quot;: &quot;To Be Announced&quot;}</h2><br/>
                         <div class="shoutout"><img src="images/presenters/unknown-person.png" style="height: 150px; width: 150px;"><br/>Thank you for taking a sneak peak at our future meetups!  We are in the process of planning this event and the speaker is yet to be announced!<br/><br/>
                        Join Us to stay connected and get the latest updates...<br/><br/>
                        <br/>
                        
                        <a class="btn btn-inverse" href="http://twitter.com/noogaJS" target="_blank">
                        <img class="navicon" src="images/social/light/twitter.png"> &nbsp; Follow Us</a>
                        <a class="btn btn-inverse" href="http://facebook.com/noogaJS" target="_blank">
                        <img class="navicon" src="images/social/light/facebook.png"> &nbsp; Like Us</a>
                        <a class="btn btn-inverse" href="#/join" >
                        <img class="navicon" src="images/nav/about.png"> &nbsp; Join Us</a>

                        </div>
                </article>
            </div>

           

            
            
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container--> 


            
        </section><!--/ container-->        
    </div><!--/ row-fluid--> 
</section>
</section><!--/ page-->