
<section id="meetup-detail" class="bg-dark master-section">

    <section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid add-bottom-main">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12">
                    <h2 class="main-heading"><span>Meetup</span></h2>
                    <h3 class="promo-text-alt darken">
                        <span>SEP 24th 6:00p - 7:30p ET</span></h3>
                </article>
                <article class="span12 hero-unit">
                    
                    <h2>{&quot;Location&quot;: &quot;Address&quot;}</h2><br/>
                         <div class="shoutout">
                            Unum<br/>
                            1 Fountain Square<br/>
                            Chattanooga, TN 37402<br/><br/>
                            -Visitor parking is available off of 5th Street<br/>
                            -Please use 5th Street Entrance to Unum Building
                        </div>
<br/><br/>
                    <h2>{&quot;Presenter&quot;: &quot;Jim Cowart&quot;}</h2><br/>
                         <div class="shoutout"><img src="images/presenters/jim-cowart.png" style="height: 150px; width: 150px;"><br/>We are very excited to have Jim Cowart with us to officially launch NoogaJS as our first presenter! <i>(No Pressure Jim)</i><br/><br/>
                        Jim Cowart is a web developer, tragically geeky about JavaScript, HTML5, open source, hybrid mobile development...but he's not a fan of lists, so we'll stop there. Having journeyed through Cold Fusion, an obscure proprietary JavaScript BI implementation, C#, a smidgeon of Erlang and even spent some time as a data warehouse architect and developer. <br/><br/>
                        He's most passionate about connecting with other developers – learning, sharing and promoting patterns and ideas that will make development more productive, enjoyable and empowering. <br/><br/>Jim lives in Chattanooga with his wife and two sons.  He works for Telerik as a Developer Advocate for Icenium, and you can follow him on twitter - <a href="http://www.twitter.com/ifandelse" target="_blank">@ifandelse<a>.
                        <br/>
                        </div>
                </article>
            </div>

           

            
            
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container--> 


            
        </section><!--/ container-->        
    </div><!--/ row-fluid--> 
</section>
</section><!--/ page-->