body {
	background: #FFC000;
}

.navbar {
	padding-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: middle;


}
#nav {
	background: #FFC000;
	height: 110px;
}
 #content{
 	padding-top: 40px;
 }


.navicon {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

}

.center {
 float: none;
 margin-left: 0px auto;
 margin-right: 0px auto;
}

.white-bg {
	background: #FFFFFF;
}
.yellow-bg {
	background: #FFC000;
}
.black-bg {
	background: #000000;
}
.gray-bg {
	background: #A9A9A9;
}

.white-text {
	color: #FFFFFF;
}
.black-text {
	color: #000000;
}
.yellow-text {
	color: #FFC000;
}