.center {
 float: none;
 margin-left: 0px auto;
 margin-right: 0px auto;
}

body {
	background: #FFFFFF;
}

.navbar {
	background: #FFFFFF;
	padding-bottom: 0px;
	margin-bottom: 0px;

}
.navbar-inner {
  text-align:center;
}
.nav {
	background: #FFFFFF;
}
.pad10 {
	padding: 10px;
}
.pad20 {
	padding: 20px;
}

#content{
 	padding-top: 80px;
 }
.brand {
	padding: 100px;
}
.logo {
	float: center;
	height: 64px;
	width: 72px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navicon {
	height: 48px;
	width: 48px;
	padding: 10px;
}
.navicon-about {
	position: fixed;
	margin-left: -250px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 16pt;
	height: 44px;
	width: 44px;
}
.navicon-news {
	position: fixed;
	margin-left: -150px;
		padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 16pt;
	height: 44px;
	width: 44px;
}
.navicon-learn {
	position: fixed;
	margin-left: 200px;
	padding-top: 10px;
	font-size: 16pt;
	height: 44px;
	width: 44px;
}
.navicon-meetups {
	position: fixed;
	margin-left: 75px;
	padding-top: 10px;
	font-size: 16pt;
	height: 44px;
	width: 44px;
}