<section id="learn-history" class="bg-dark master-section">
    <section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-more">
                <article class="span12">
                    <div class="thumb-icon"><img alt="renova" title="renova" src="images/icons-big/history.png"/></div>
                    <h1 class="main-heading"><span>Learn</span></h1><br>
                    <h3 class="promo-text-inv-yellow darken">
                        <span> &nbsp;&nbsp;JavaScript History&nbsp;&nbsp; </span></h3>
                </article>
            </div>
            <br/>
            <div class="row add-bottom hidden-ie8">
                <article class="span12">
                    <div>
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2 class="col-black">The Early Years</h2>
                            <h4 class="col-black" >Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone">
                                    <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford puts the JavaScript programming language in its proper historical context, tracing the language's structure and conventions (and some of its quirks) back to their roots in the early decades of computer science.</p>
                                </div>
                            </div>
                           <a href="http://www.youtube.com/watch?v=JxAXlJEmNMg" target="_blank"class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel col-white">
                            <h2>And Then There Was JavaScript</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone col-white">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford surveys the features of the JavaScript programming language... focusing on the Good Parts!</p>
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=RO1Wnu-xKoY" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>Function the Ultimate</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his lecture series on the JavaScript programming language with a discussion of functions in JavaScript. "Functions are the very best part of JavaScript," Crockford says. "It's where the power is, it's where the beauty is!"</p>
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=ya4UHuXNygM" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel col-white">
                            <h2>The Metamorphosis of Ajax</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone col-white">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his lecture series on the JavaScript programming language with an analysis of the Document Object Model (DOM) and an exploration of Ajax.</p>
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=Fv9qT9joc0M" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>The End of All Things</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his series on the JavaScript programming language with a review of issues related to security and performance in JavaScript.</p>
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=47Ceot8yqeI" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                     
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel col-white">
                            <h2>Loopage</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone col-white">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his lecture series on the JavaScript programming language.  Software development is hampered by a specific set of design mistakes that were made in the first programming languages and repeated in everything that has been done since. And, somewhat miraculously, JavaScript is going to make it right, radically transforming the way we write applications.</p> 
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=QgwSUtYSUqA" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>ECMAScript 5: The New Parts</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his series on the JavaScript programming language and outlines the changes made to the language in the 5th edition of the ECMAScript standard.</p>
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=UTEqr0IlFKY" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                     
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel col-white">
                            <h2>Programming Style &amp; Your Brain</h2>
                            <h4>Presented by Douglas Crockford</h4>
                            <br/>
                            <div class="row">
                                <div class="hidden-phone offset1 span3">
                                    <img src="images/learn/douglas-crockford.png">
                                </div>
                                <div class="span8 hidden-phone col-white">
                            <p>As part of his series, Crockford on JavaScript, Yahoo!'s JavaScript architect Douglas Crockford continues his lecture series and drops some science to explain why code style is important in programming -- particularly in JavaScript -- and how tools like JSLint can help.</p> 
                        </div>
                    </div>
                            <a href="http://www.youtube.com/watch?v=taaEzHI9xyY" target="_blank" class="btn btn-renova">Watch Now</a>
                        </div>
                    </li>                    
                </ul>
            </div>
                </article>
</section>
            </div>
        </section>
        </section>