<section id="learn-libraries" class="bg-dark master-section">
    <section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-more">
                <article class="span12">
                    <div class="thumb-icon"><img alt="renova" title="renova" src="images/icons-big/libraries.png"/></div>
                    <h1 class="main-heading"><span>Learn</span></h1><br>
                    <h3 class="promo-text-inv-yellow darken">
                        <span> &nbsp;&nbsp;JavaScript Librares&nbsp;&nbsp; </span></h3>
                </article>
            </div>
            <br/>
            
                <div class="row add-bottom-main text-center">

                <article class="offset2 span8 bg-white team-block">
                    <div class="team-block-inner text-center">
                        <br/>
                    <h2 class="col-blue text-center">Work Underway!</h2>
                    <h4 class="text-center"><span>Stay Tuned... </span></h4>
                    <br>               

                </article>

            </div>
</section>
            </div>
        </section>
        </section>