
<section id="about" class="clearfix master-section">

<section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12 text-center">
                	<!--<div class="thumb-icon"><img alt="renova" title="renova" src="images/icons/01.png"/></div>-->
                	<h1 class="main-heading"><span>About</span></h1>
                	 <img src="images/noogajs.png">
                    <h3 class="promo-text"><span>The Gig City Javascript Community</span></h3>

                </article>
            </div>
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container-->       
</section><!--/ page-->



<section id="about-end">

    <section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">

            <div class="row add-top">
                <article class="span12">
                    <div class="wrap-pad">
                         <div class="shoutout">NoogaJS is an open source and JavaScript focused community based in Chattanooga, Tennessee. <br/><br/>Also known as <a href="http://thegigcity.com" target="_blank">The Gig City</a>, Chattanooga is a vibrant community of starters, artists, designers, and developers who are focused on crowd accelerated innovation and blazing new trails in the future landscape.<br/><br/>In much the same way that <a href="http://thegigcity.com" target="_blank">The Gig City</a> is opening doors to new models of learning, playing, and working on a 600 square mile gigabit-per-second fiber network... JavaScript is just as dramatically changing the way in which we design, deliver, and scale real-time web and mobile applications.<br/><br/>
                        We started NoogaJS because we are basically workafrolics... we enjoy serving our community... working and playing with all things open source... and of course evangelizing JavaScript!
                        <br/>
                            <h4>Cheers,</h4>
                            <h4>-Brian &amp; Andrew </h4>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row add-top-more">
                <article class="span12">
                    <h3 class="promo-text-inv-yellow darken"><span>The Workafrolics at NoogaJS</span></h3>
                </article>
            </div>
            <div class="row add-bottom-main">

                <article class="span4 offset2 center bg-white team-block">
                    <div class="team-block-inner text-center">
                        <br/>
                    <img alt="renova" title="renova" src="images/team/bhooper.png" >
                    <h2 class="col-blue text-center">Brian Hooper</h2>
                    <h4 class="text-center"><span>Open Source Workafrolic</span></h4>
                    <br>
                    <article>
                        <p>A starter, designer, and developer focused on using open source technology to serve the community. </p>
                    </article>
                    <nav class="team-social text-center">
                        <a href="http://twitter.com/noogageek" target="_blank"><img alt="Twitter" title="Twitter" src="images/social/dark/twitter.png" ></a>
                        <a href="http://linkedin.com/in/noogageek" target="_blank"><img alt="LinkedIn" title="LinkedIn" src="images/social/dark/linkedin.png" ></a>
                        <a href="https://plus.google.com/u/0/104439446664744892477/posts" target="_blank"><img alt="Google+" title="Google+" src="images/social/dark/google-plus.png" ></a>
                        <a href="http://github.com/noogageek" target="_blank"><img alt="GitHub" title="GitHub" src="images/social/dark/github.png" ></a>                       
                    </nav>
                    </div>
                </article>

                <article class="span4 bg-white team-block">
                    <div class="team-block-inner text-center">
                        <br/>
                    <img alt="renova" title="renova" src="images/team/apierce.png" >
                    <h2 class="col-blue text-center">Andrew Pierce</h2>
                    <h4 class="text-center"><span>Open Source Geek</span></h4>
                    <br>               
                    <article>
                        <p>A software developer, guitarist, and confirmed open source geek working and playing in The Gig City. </p>
                    </article>
                    <nav class="team-social text-center">
                        <a href="http://twitter.com/ndrunix" target="_blank"><img alt="Twitter" title="Twitter" src="images/social/dark/twitter.png" ></a>
                        <a href="http://linkedin.com/in/andrewpierce" target="_blank"><img alt="LinkedIn" title="LinkedIn" src="images/social/dark/linkedin.png" ></a>
                        <a href="https://plus.google.com/117447809680773767950/posts" target="_blank"><img alt="Google+" title="Google+" src="images/social/dark/google-plus.png" ></a>
                        <a href="http://github.com/andrunix" target="_blank"><img alt="GitHub" title="GitHub" src="images/social/dark/github.png" ></a>  
                    </nav>
                    </div>
                </article>
            </div>
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container-->       

</section><!--/ page-->
