<section id="chat" class="bg-dark master-section">

	<section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12 center">
                	<!--<div class="thumb-icon"><img alt="renova" title="renova" src="images/icons/chat-in.png"/></div>-->
                	<h1 class="main-heading"><span>Chat</span></h1>
                	<h3 class="promo-text-alt darken"><span>Old School Chatroom...</span></h3>
                </article>
            </div>

            <div class="row add-top add-bottom-services">
                       <article class="offset2 span8 bg-white team-block">
                    <div class="team-block-inner text-center">
                        
                    <h2 class="col-blue text-center">Work Underway!</h2>
                    <h4 class="text-center"><span>Stay Tuned... </span></h4>
                    <br>               

                </article>      
</div>
        
        </section><!--/ container-->        
    </div><!--/ row-fluid-->  
    <br><br><br>



   
</section><!--/ container-->        
</section><!--/ page-->




