<div id="badge">
	<a href="#">
    <img alt="NoogaJS" title="NoogaJS" src="images/noogajs.png"/>
</a>
</div>
<!-- INTRO SPLASH -->
	<section class="intro master-section">
        <nav id="intro-nav">
            <ul class="ca-menu">
                    <li>
                        <a class="scroll-link" href="#about" data-soffset="100">
                            <span class="ca-icon"><img alt="About" title="About" src="images/nav/team.png"/></span>
                            <div class="ca-content">
                                <h2 class="ca-main">About</h2>
                                <h3 class="ca-sub">Our story</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#learn" data-soffset="100">
                            <span class="ca-icon"><img alt="Learn" title="Learn" src="images/nav/learn.png"/></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Learn</h2>
                                <h3 class="ca-sub">Knowledge on Draft</h3>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="scroll-link" href="#/meetup" data-soffset="100">
                            <span class="ca-icon"><img alt="Meetup" title="Meetup" src="images/nav/meetup.png"/></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Meetup</h2>
                                <h3 class="ca-sub">Get in the Know</h3>
                            </div>
                        </a>
                    </li>

                    <!--<li>
                        <a class="scroll-link" href="#/tweets" data-soffset="100">
                            <span class="ca-icon"><img alt="Tweets" title="Tweets" src="images/nav/tweets.png"/></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Tweets</h2>
                                <h3 class="ca-sub">From our Peeps</h3>
                            </div>
                        </a>
                    </li>
                -->
                    <li>
                        <a class="scroll-link" href="#/chat" data-soffset="100">
                            <span class="ca-icon"><img alt="Chatter" title="Chatter" src="images/nav/chat.png"/></span>
                            <div class="ca-content">
                                <h2 class="ca-main">Chat</h2>
                                <h3 class="ca-sub">Old School Chatroom</h3>
                            </div>
                        </a>
                    </li>
                    
                </ul>
            
        </nav>

        <!--<a class="scroll-link" href="#showcase" data-soffset="100"><div id="scroll"></div></a>-->
	</section>
	<br><br><br><br><br>




