<section id="learn" class="bg-dark master-section">

	<section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12">
                	<!--<div class="thumb-icon"><img alt="renova" title="renova" src="images/icons/learn-in.png"/></div>-->
                	<h1 class="main-heading"><span>Learn</span></h1>
                	<h3 class="promo-text-alt darken"><span>Knowledge on Draft...Tap In!</span></h3>
                </article>
            </div>

            <div class="row add-top add-bottom-services">
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/history.png"/>
                	</div>
                	<h3 class="inner-heading"><span>History</span></h3>
                	<p>Get grounded and learn the story of Javascript with Douglas Crockford.</p>
                	<a href="#/learn/history" class="btn btn-renova">Learn More</a>
                </article>
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/libraries.png"/>
                	</div>
                	<h3 class="inner-heading"><span>Libraries</span></h3>
                	<p>Libraries change the way that millions of people write JavaScript. </p>
                	<a href="#/learn/libraries" class="btn btn-renova">Learn More</a>
                </article>
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/frameworks.png"/>
                	</div>
                	<h3 class="inner-heading"><span>Frameworks</span></h3>
                	<p>Frameworks make it even easier to create and maintain JS applications.</p>
                	<a href="#/learn/frameworks" class="btn btn-renova">Learn More</a>
                </article>
            </div>


            <div class="row add-bottom">
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/patterns.png"/>
                	</div>
                	<h3 class="inner-heading"><span>Patterns</span></h3>
                	<p>Reusable patterns and solutions to common problems in JS development.</p>
                	<a href="#/learn/patterns" class="btn btn-renova">Learn More</a>
                </article>
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/readlist.png"/>
                	</div>
                	<h3 class="inner-heading"><span>Reading List</span></h3>
                	<p>No BS here... only the Best JS <br/>articles and books.</p>
                	<a href="#/learn/readlist" class="btn btn-renova">Learn More</a>
                </article>
                <article class="span4 service-block text-center">
                	<div class="service-thumb text-center">
                	<img alt="renova" title="renova" src="images/icons-big/watchlist.png"/>
                	</div>
                	<h3 class="inner-heading"><span>Watch List</span></h3>
                	<p>No BS here... only the Best JS <br/>presentations and videos.</p>
                	<a href="#/learn/watchlist" class="btn btn-renova">Learn More</a>
                </article>
            </div>
        </section><!--/ container-->        
    </div><!--/ row-fluid-->  



   
</section><!--/ container-->        
</section><!--/ page-->