

<section id="meetup" class="bg-dark master-section">

	<section class="container-fluid inner mob-bg-remove">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12">
                	<div class="thumb-icon"><img alt="renova" title="renova" src="images/nav/meetup.png"/></div>
                	<h1 class="main-heading"><span>Meetup</span></h1>
                	<h3 class="promo-text"><span>Get in the Know...</span></h3>
                </article>
            </div>

            <div class="row">

                <article class="span6 news-block">
                    <div class="row-fluid">
                        <article class="span12 news-img">
                            <div class="news-date">
                                <h5>AUG</h5>
                                <h4>2013</h4>
                            </div>
                            <img alt="renova" title="renova" src="images/news/1.jpg"/>
                        </article>
                    </div>
                    <div class="row-fluid">
                        <article class="span12 news-block-content">
                            <h3 class="news-heading"><span>NoogaJS Launches at devLink!</span></h3>
                            <p>Come and join us from Aug 28 - 30 at the Chattanooga Convention Center at the devLink 2013 Conference.  There are many great speakers and JavaScript sessions. Tweet us at the conference... we hope to see you there!</p>
                    <a href="#/meetups/sep2013" class="btn btn-renova-alt">Learn More</a>
                        </article>
                    </div>
                    
                </article>
                
                <article class="span6 news-block">
                	<div class="row-fluid">
                		<article class="span12 news-img">
                			<div class="news-date">
                				<h5>SEP</h5>
                				<h4>2013</h4>
                			</div>
                			<img alt="renova" title="renova" src="images/news/2.jpg"/>
                		</article>
                	</div>
                	<div class="row-fluid">
                		<article class="span12 news-block-content">
                			<h3 class="news-heading"><span>September 24th Meetup...</span></h3>
                			<p>Our September Meetup will be our official launch as The Gig City JavaScript Community.  There are no members only jackets here... <i> ( although they are pretty cool! ) </i>- You are invited to come and join us at the very beginning!</p>
                    <a href="#/meetups/sep2013" class="btn btn-renova-alt">Learn More</a>
                		</article>
                	</div>
                	
                </article>

            </div>

            <div class="row add-top-news add-bottom-main">

                <article class="span4 news-block">
                	<div class="row-fluid">
                		<article class="span12 news-img">
                			<img alt="renova" title="renova" src="images/news/1.jpg"/>
                		</article>
                	</div>
                	<div>
                		<div class="row-fluid">
                		<article class="span12 news-specs">
                            <h4>Date/Time: TBD</h4>
                            <h4>Location: TBD</h4>
                        </article>
                        </div>
                	</div>
                	<div class="row-fluid">
                		<article class="span12 news-block-content">
                			<h3 class="news-heading"><span>OCT Meetup..</span></h3>
                			<p>We are currently working on lining things up for OCT.  Date/Time is TBD.  Follow Us on Twitter or check back here for updates!</p>
                            <!--<a href="#" class="btn btn-renova-alt">Learn More</a>-->
                		</article>
                	</div>
                	
                </article>
                
                <article class="span4 news-block">
                	<div class="row-fluid">
                		<article class="span12 news-img">
                			<img alt="renova" title="renova" src="images/news/1.jpg"/>
                		</article>
                	</div>
                	<div>
                		<div class="row-fluid">
                		<article class="span12 news-specs">
                            <h4>Date/Time: TBD</h4>
                            <h4>Location: TBD</h4>
                        </article>
                        </div>
                	</div>
                	<div class="row-fluid">
                		<article class="span12 news-block-content">
                			<h3 class="news-heading"><span>NOV Meetup..</span></h3>
                            <p>We are currently working on lining things up for November.  Date/Time is TBD.  Follow Us on Twitter or check back here for updates!</p>
                            <!--<a href="#" class="btn btn-renova-alt">Read More</a>-->
                		</article>
                	</div>
                	
                </article>

                <article class="span4 news-block">
                	<div class="row-fluid">
                		<article class="span12 news-img">
                			<img alt="renova" title="renova" src="images/news/1.jpg"/>
                		</article>
                	</div>
                	<div>
                		<div class="row-fluid">
                		<article class="span12 news-specs">
                            <h4>Date/Time: TBD</h4>
                            <h4>Location: TBD</h4>
                        </article>
                        </div>
                	</div>
                	<div class="row-fluid">
                		<article class="span12 news-block-content">
                			<h3 class="news-heading"><span>DEC Meetup..</span></h3>
                            <p>We are currently working on lining things up for December.  Date/Time is TBD.  Follow Us on Twitter or check back here for updates!</p>
                            <!--<a href="#" class="btn btn-renova-alt">Read More</a>-->
                		</article>
                	</div>
                	
                </article>

            </div>
            
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container-->       

</section><!--/ page-->