<section class="container-fluid inner mob-bg-remove add-bottom-main">
    <div class="row-fluid">
        <section class="container">
            <div class="row add-top-main">
                <article class="span12 text-center">
                   <img alt="renova" title="renova" src="images/noogajs.png"/>
                    
                    <h3 class="promo-text"><span>We have got your message. We will get back to you soon.</span></h3>
                </article>
            </div>
            <div class="row">
                <article class="offset2 span8 text-center well">
                    <div class="shoutout">
                            <h3>STAY IN THE KNOW...</h3><br>
<a class="btn btn-inverse" href="http://twitter.com/noogaJS" target="_blank">
                        <img class="navicon" src="images/social/light/twitter.png"> &nbsp; Follow Us</a>&nbsp;&nbsp;
                        <a class="btn btn-inverse" href="http://facebook.com/noogaJS" target="_blank">
                        <img class="navicon" src="images/social/light/facebook.png"> &nbsp; Like Us</a>&nbsp;&nbsp;
                        <a class="btn btn-inverse" href="#/join" >
                        <img class="navicon" src="images/nav/about.png"> &nbsp; Join Us</a>

                </article>
            </div>
        </section><!--/ container-->        
    </div><!--/ row-fluid-->   
    </section><!--/ container-->       


<!--<section class="container-fluid tweet-wrap">
    <div class="row-fluid">
        <section class="container">

            <div class="row">
            <div class="welcome">
                <article class="span8 offset2 text-center">
                    <img alt="live" title="designova live" src="images/tweet.png"/>
                    <article id="ticker" class="query"></article>
                </article>
            </div>
            </div>--><!--/ row-->

        <!--</section>--><!--/ container-->        
    <!--</div>--><!--/ row-fluid-->
<!--</section>-->




    